<div class="flexslider news">
    <ul class="slides">
        {% for item in items %}
            {% if loop.index % 3 == 1 %}
                <li>
            {% endif %}

                <div class="boxOneNew{% if loop.index % 3 != 1 %} pad{% endif %}">
                    <p>
                        <span>{{ item.settings.createdAt|date('d.m.Y') }}</span>
                        <a href="{{ url('ns_front_news_item', {itemSlug:item.slug}) }}">
                            {{ item.settings.description }}
                        </a>
                    </p>
                </div>

            {% if loop.index % 3 == 0 %}
                </li>
            {% endif %}
        {% endfor %}

        {% if items|length%3 > 0 %}
            {% for i in 1 .. 3 - (items|length % 3) %}
                <div class="boxOneNew pad"></div>
            {% endfor %}
            </li>
        {% endif %}
    </ul>
</div>

<style>
    .blockCont {
        background: none;
    }
</style>