<ul>
    {% for item in items %}
        <li>
            <p>{{ item.settings.createdAt|date('d/m/Y') }}</p>
            <a href="#">{{ item.settings.description }}</a>
        </li>
    {% endfor %}
</ul>
